{% extends 'base.html' %}
{% block content %}
  <h1 class="mb-4">Review Wrong Cards</h1>
  {% if cards %}
    <table class="table table-bordered table-striped">
      <thead class="table-dark">
        <tr>
          <th>#</th>
          <th>Word</th>
          <th>meaning</th>
          <th>Example</th>
          <th>edit</th>
        </tr>
      </thead>
      <tbody>
        {% for card in cards %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ card.word }}</td>
            <td>{{ card.meaning }}</td>
            <td>{{ card.example }}</td>
            <td><a class="btn btn-warning" href="{% url 'home:cardedit' card.id %}">Edit</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <div class="alert alert-warning" role="alert">No cards available.</div>
  {% endif %}
{% endblock %}
